<%- include ("../partials/header") %>

<head>
    <link rel="stylesheet" type="text/css" href="../css/journal/view.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&family=Questrial&display=swap"
        rel="stylesheet">
</head>

<div class="container">
    <div class="jumbotron" id="jumbo">
        <div class="inner">
            <h1 style="color:#f5d9d5;font-family: 'Just Another Hand', cursive;font-size: 5rem;" data-aos="zoom-out">
                <%=journal.authorName%>'s Journal </h1>
        </div>
    </div>
</div>  

<div class="container-fluid">
    <div class="header">
        <span id="edit" title="Edit"><button class="btn btn-sm btn-dark"><i class="far fa-edit"></i></button></span>
        <form id="deleteForm" style="display: inline;" method = "POST" action="/journal/<%=journal._id%>/delete">
        <span id="delete" title="Delete"><button class="btn btn-sm btn-dark"><i class="far fa-trash-alt "></i></button></span>
        </form>
    </div>
    <div id="image">
        <img src="/image/<%=journal.imageID%>">
    </div>
    <div id="content">
        <h1><%=journal.title%></h1>
        <hr>
        <p><%=journal.data%></p>
        <textarea><%=journal.data%></textarea>
        <button type="submit" id="btn1" class="btn btn-outline-dark btn-sm">Submit</button>
    </div>
    <div class="footer">
        <%= journal.dateOfEntry.getDate(); %>
        <%= journal.dateOfEntry.toLocaleString('default', { month: 'short' }); %>
        <%= journal.dateOfEntry.getFullYear(); %>
    </div>
</div>

<p id="id" style="display:none"><%=journal._id%></p>
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1000,
    });
</script>
<script type="text/javascript" src="../scripts/journal/view.js"></script>
<%- include ("../partials/footer") %>